# تنظیمات ربات
BOT_TOKEN=7794284252:AAFOha2WHHKYIRTW2Q7eqBHEnSKt3krt378
BOT_NAME=کافی نت مهدی
SUPPORT_USERNAME=https://t.me/mohamminch
ADMIN_USERNAME=882730020
CHANNEL_USERNAME=https://t.me/coffenetmehdi
CHANNEL_ID=-1002496906719
BOT_USERNAME=Cafenetmahdi_bot
REFERAL_CREDIT=2000
BOT_CREATOR=mohamminch
ORDER_CHANNEL_ID=-1002478908922

# تنظیمات کارت بانکی
CARD_NUMBER=6037991521965867
CARD_HOLDER=محمد امین چهاردولی

# تنظیمات پایگاه داده
DB_PATH=coffenet.db 